.online-store {
  color: $white;
  background-color: $dark-gray;

  &__advantages {
  }

  &__advantages-item span::before {
    content: " ";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: $white;
  }

  &__advantages-item span {
    font-size: 3.6rem;
    font-weight: 700;
  }
}