.main {
  background-image: url(../img/background-top.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.brand {
  display: block;
  width: 900px;
  margin: auto;
}

.video {
  width: 100%;

  video {
    width: 100%;
  }
}

.content {
  position: relative;
  background-image: url(../img/1-background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.content-text{
  padding-top: 40%;
}

.content-products {
  position: absolute;
  top: 32%;
  padding: 5% 0;
  overflow: hidden;

  > img:not(.content-product__imgage) {
    position: absolute;
  }

  &__pop-first {
    left: 2%;
    padding-top: 5%;
    max-width: 12%;
    animation: float 6s ease-in-out infinite;
  }

  &__pop-second {
    max-width: 10%;
    right: -3%;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    animation: float 6s ease-in-out infinite;
  }

  &__star {
    right: 12%;
    top: 0;
    max-width: 26%;
    animation: flash 1s ease-in-out infinite;
  }
}

.content-carousel {
  position: absolute;
  bottom: 33%;
  width: 100%;
}

.owl-carousel {
  .item {
    padding: 20px;
  }

  a {
    display: block;
  }
}

.cloud-container {
  position: relative;
  padding: 5% 0;

  img:not(.cloud) {
    position: absolute;
    width: 30%;
    z-index: 2;
  }

  .cloud {
    animation: shakeX 40s ease-in-out infinite;
  }

  &__low-price {
    top: 22%;
    left: 13%;
  }

  &__authentic {
    top: 30%;
    right: 10%;
  }

  &__hot-sale {
    bottom: -12%;
    left: 4%;
  }

  &__fast-delivery {
    bottom: -10%;
    right: 20%;
  }
}

.ad {
  position: relative;
  padding: 8% 0 5%;
  background-image: url(../img/background-bottom.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;

  &__image {
    position: relative;
    display: block;
    max-width: 80%;
    margin: auto;
  }

  &__cloud {
    position: absolute;
    width: 20%;
  }

  &__cloud-first {
    top: 26%;
    right: 10%;
  }

  &__cloud-second {
    bottom: 35%;
    left: 10%;
  }

  &__flag {
    position: absolute;
    width: 15%;
  }

  &__flag-first {
    top: 32%;
    left: 12%;
    animation: float 6s ease-in-out infinite;
  }

  &__flag-second {
    top: 35%;
    right: 12%;
    animation: float 6s ease-in-out infinite;
  }

  &__star {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 75%;
    animation: flash 1s ease-in-out infinite;
  }

  &__address {
    display: block;
    font-size: 1.2rem;
    padding: 20px 15px;
    color: white;
  }
}

@media(max-width: 599px) {
  .content-carousel {
    bottom: 32%;
  }

  .owl-carousel .item {
    padding: 0;
  }
}