/* font size variables */
$basic-font: 10px;

$smaller-font: 11px;
$small-font: 12px;
$main-font: 14px;
$big-font: 16px;
$bigger-font: 18px;
$biggest-font: 20px;

$banner-font: 45px;
$banner-font-m: 30px;
$surpport-font: 24px;

/* color variables */
$white: #fff;
$black: #000;
$light-black: #14191D;
$main-color: #1D1E1C;
$theme-color: #00c4b3;
$theme-color-light: #7AC8C4;
$title-color: #5C3418;

$light-gray: #dbdbdb;
$lightter-gray: #606060;
$dark-gray: #363636;
$darker-gray: #171717;
$middle-gray-1: #979797;
$middle-gray-2: #f5f6f7;

/* special colors */
$footer-color: #b5b5b5;